alias zs="code ~/.zshrc"

## .NET
alias dn='dotnet'
alias dnb='dotnet build'
alias dnr='dotnet run'
alias dnt='dotnet test'
alias dnc='dotnet clean'
alias dnwatch='dotnet watch run'
alias dnmig='dotnet ef migrations add'
alias dnud='dotnet ef database update'
alias dngen='dotnet new'
alias dngit='dotnet new gitignore'
