[Desktop Entry]
Version=1.0
Type=Application
Name=Kitty Terminal
GenericName=Terminal Emulator
Comment=Fast, feature-rich, GPU based terminal
Exec=env KITTY_ENABLE_WAYLAND=1 kitty
Icon=kitty
Categories=System;TerminalEmulator;
StartupNotify=true
Terminal=false
Actions=New;

[Desktop Action New]
Name=New Terminal
Exec=env KITTY_ENABLE_WAYLAND=1 kitty

